[report]
include =
    generic_tagging/*.py
    tests/*.py
omit =
    generic_tagging/__init__.py
    generic_tagging/tests/compatibility.py
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
